* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h3,
input,
textarea,
button {
  font-family: 'Inter', system-ui;
}

h1,
h2{
  font-family: 'Press Start 2P', system-ui;
  color: #6C5CF3;
}

h1 {  
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
    margin-block-end: 0.67em;
}

h2 {
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: #F9FAFB;
  gap: 32px;
}

/* Asset Management Figma */

.title-container h1,
.title-container h4 {
  display: flex;
  align-items: stretch;
}


.title {


}

.sub-title {
  /* 
  position: absolute;
  height: 24px;
  left: 0%;
  right: 67.71%;
  top: 43.5px; */

  color: #4A5565;
}
  
.content-grid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input,
header textarea {
  /* flex: 1; */
  border-radius: 14px;
  outline: none;
  width: 100%;
  background: #F3F3F5;
}

header button {
  /* border-radius: 14px; */
  /* background: transparent; */
  transition-duration: 200ms;
  cursor: pointer;
background: #6C5CF3;
border-radius: 8px;
color: white;
  /* Button inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-primary text-primary-foreground hover:bg-primary/90 h-9 px-4 py-2 has-[>svg]:px-3 w-full */
/* 
height: 36px;
top: 324px; */


}

header button:hover {
  opacity: 0.7;
}

header button,
header input,
header textarea {
  border: none;
  outline: none;
  
  font-size: 14px;
  line-height: 20px;
  padding: 14px 18px;
}

header input,
header textarea {
  font-weight: 400;
}

header textarea {
  min-height: 46px;
  max-width: 100%;
  min-width: 100%;
}

header .main-inputs #submit h3 {
  font-weight: 500;
  color: white;
}

p {
  /* font-size: 0.9em; */
  
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #4A5565;

}

.main,
.main-grid,
.main-inputs {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 24px;
  gap: 48px;
}

.main-inputs {
  gap: 16px;
}

.main-grid {
  gap: 32px;
  flex: 1;
}

.todoItem {
  align-items: stretch;
  gap: 12px;
  padding: 16px;

  display: grid;
  grid-template-rows: auto auto auto;
  /* width: 100%; */
  /* Defines a single column that takes up all available space (1 fraction of space) */
  /* grid-template-columns: 1fr 1fr;  */
  /* Creates 3 columns of equal width and automatically stretches children */
/* grid-template-columns: repeat(7, 1fr);  */

}

.todoItemDummy {  
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 0px;
  padding: 16px;

}

.main,
.todoItem,
.todoItemDummy {
  border: 1px solid #0000001a;
  border-radius: 14px;
  background: white; 
}

.todoItem:hover {
    border: 1px solid #6C5CF3;
}

.todoItem .real:active {
  background: #F9FAFB; 
  transform: translateY(2px); /* Creates a "pressed" effect */
}

.todoItem-row {
  gap: 10px;
display: flex;
}

.todoItem-row-up {
  gap: 10px;
display: flex;
/* align-items: center; */
justify-content: space-between;
}

.todoItem-row-down {
  gap: 10px;
display: grid;
grid-template-columns: 1fr 1fr;
border-top: 1px solid #0000001a;
padding-top: 12px;
}

.todoItem h2 {
  font-family: "Press Start 2P", system-ui;
  justify-content: center;
  min-width: 200px;
}

.todoItem p {
  min-width: 20px;
  font-size: 14px;
}

.actionsContainer {
  display: block;
  gap: 16px;
}

.actionsContainer button {
  height: 32px;
  width: 36px;

  transition-duration: 200ms;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 8px;
}

.actionsContainer button:hover {
  opacity: 0.7;
  background: #e9ebef;
  border: 1px solid #0000001a;
  cursor: pointer;
}

.todoItem .column-header{
  font-size: 12px;

line-height: 16px;
height: fit-content;

color: #6A7282;
}

.todoItem .column-value{

font-weight: 500;
font-size: 16px;
line-height: 24px;

height: fit-content;
}

.todoItem .column-1 .column-value{
color: #0A0A0A;
}

.todoItem .column-2 .column-value{
color: #00A63E;
}

/* 
@media (min-width: 640px) { */

  /* header button,
  header input {
    font-size: 1.2em;
  } */
/* 
  p {
    font-size: 1em;
  } */
/*   
  .content-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
  }
} */


@media (min-width: 1024px) {

  /* header button,
  header input {
    font-size: 1.4em;
  } */
/* 
  p {
    font-size: 1.2em;
  } */
  
#root {
  padding-right: 80px;
  padding-left: 80px;
}

header,
.main {
  max-width: 800px;
}

  .content-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
    align-items: start; /* All items in the container will align to the start and fit their content */
  }

  .column-header{
    text-align: center;
  }

  .column-value{
    text-align: center;
  }
}